body {
    font-family: Arial, sans-serif;
    background-image: url('assets/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: auto;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 6px;
    display: inline-block;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#restaurant {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
    appearance: none;
    background-image: url('assets/arrow_down.jpeg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

select:focus {
    border-color: #28a745;
    outline: none;
}
input[type="submit"] {
    width: 100%;
    background-color: #28a745;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.error {
    color: #ff4d4d;
    text-align: center;
}

.success {
    color: #28a745;
    text-align: center;
}
.message {
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}
.success {
    background-color: #d4edda;
    color: #155724; 
    border: 1px solid #c3e6cb;
}
.error {
    background-color: #f8d7da;
    color: #721c24; 
    border: 1px solid #f5c6cb;
}
.buttons {
    display: flex;
    flex-direction: row;
}
.submit-button {
    background-color: #4CAF50; /* Green color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-grow: 1;
    margin-right: 10px; /* Add some space between the buttons */
}

.submit-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.back-button {
    background-color: #3498db; /* Tomato color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-grow: 1;
    margin-right: 15px;
}

.back-button:hover {
    background-color: #2980b9;
}